@font-face {
    font-family: "Girloy Bold";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Girloy Semibold";
    src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
        url("../fonts/Gilroy-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Girloy Medium";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Girloy Regular";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular.woff") format("woff");
}


@font-face {
    font-family: "TTFirsNeue Bold";
    src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"),
        url("../fonts/TTFirsNeue-Bold.woff") format("woff");
}

@font-face {
    font-family: "TTFirsNeue Semibold";
    src: url("../fonts/TTFirsNeue-Semibold.woff2") format("woff2"),
        url("../fonts/TTFirsNeue-Semibold.woff") format("woff");
}

@font-face {
    font-family: "TTFirsNeue Medium";
    src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2"),
        url("../fonts/TTFirsNeue-Medium.woff") format("woff");
}

@font-face {
    font-family: "TTFirsNeue Regular";
    src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"),
        url("../fonts/TTFirsNeue-Regular.woff") format("woff");
}

:root {
    --color1: #111A45;
    --color2: #F33F5E;
    --color-white: #ffffff;    
}

.container {
    max-width: 100%;
    padding: 0 60px;
}

/* ============================================ */

/* ==========HEADER============================= */

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}

.header__navbar-item {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-right: 175px;
}

.header__navbar-list {
    list-style: none;
}

.header__navbar-link {
    text-decoration: none;
    color: var(--color1);
    font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-right: 50px;
}

.header__navbar-link:hover,
.header__navbar-link:focus {
    border: none;
    outline: none;
    color: var(--color2);
}

.header__logo-link {
    cursor: pointer;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
    font-family: "TTFirsNeue Medium", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: var(--color-white);
    background: linear-gradient(103.85deg, #F33F5E 0%, #FA8550 100%);
    border-radius: 30px;
    outline: none;
    border: none;

}

.btn:hover,
.btn:focus {
    border: none;
    outline: none;
    background: linear-gradient(103.85deg, #e7788b 0%, #f2a886 100%);
}

.section {
    width: 100%;
}

.header__menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header__burger span {
    display: none;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    background: #111A45;
    border-radius: 3px;
}

.header__burger {
    display: none;
}

/* ============================================ */

/* ==========HERO============================= */
.section__hero {
    position: relative;
}

.hero__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 95px;
    height: 641px;
    border-radius: 62px;
    margin-bottom: 120px;
    background: linear-gradient(103.85deg, #e7788b 0%, #f2a886 100%);
}

.hero__title {
    margin: 0;
    margin-bottom: 17px;
    font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
    font-size: 76px;
    line-height: 100%;
    color: var(--color-white);
    font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
    font-size: 76px;
    line-height: 100%;
    margin-top: 169px;
}

.hero__discription {
    margin: 0;
    font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 26px;
    color: var(--color-white);
}

.hero__image {
    height: 641px;
    width: 771px;
}

.hero__get-btn {
    padding: 22px 50px;
    background: var(--color1);
    border-radius: 30px;
    transition: transform 0.6s easy;
}

.hero__get-btn:hover,
.hero__get-btn:focus {
    background: #0c1331;
}

.hero__get-btn:hover img,
.hero__get-btn:focus img {
    transform: translate(3px, 0);
    -webkit-transform: translate(3px, 0);
    /** Chrome & Safari **/
    -o-transform: translate(3px, 0);
    /** Opera **/
    -moz-transform: translate(3px, 0);
    /** Firefox **/
}

.hero__scroll-link {
    position: absolute;
    top: 91%;
    left: 154px;
}

.hero__btn-vector img {
    margin-left: 12px;
}

/* ============================================ */

/* ==========MODAL============================= */
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {
    opacity: 0;
    visibility: hidden;
    width: 500px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(0, 0%);
    z-index: 100;
    box-shadow: 0 3px 10px -0.5px rgb(0 0 0 / 20%);
    padding: 120px 50px;
    border-radius: 11px;
    background-color: var(--color-white);
    transition: 0.3s all;
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__close-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 40px;
    right: 40px;
    fill: #444;
    cursor: pointer;
}

.modal__menu {
    padding: 0;
    padding: 20px;
    margin: 0;
    width: 250px;
    font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
}

.header__navbar-item {
    margin: 0;
}

.modal__navbar {
    margin-top: 50px;
    flex-direction: column;
}

.modal__navbar-link {
    color: var(--color1);
    font-family: "TTFirsNeue Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
}

.modal__navbar-list {
    list-style: none;
    margin: 0;
    margin-bottom: 30px;
}
.modal__title {
    font-family: "TTFirsNeue Bold", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    color: var(--color2);
    margin-bottom: 10px;
}

.modal__slogan {
    margin: 0;
    font-family: "TTFirsNeue Bold", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 46px;
    color: var(--color1);
    margin-bottom: 30px;
}

.contact-form__input {
    border: none;
    outline: none;
    margin-bottom: 30px;
    width: 340px;
    padding: 15px 30px;
    background: #F4F4F4;
    border-radius: 30px;
}

.contact-form__input::placeholder {
    font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: var(--color1);
}

@media (max-width: 1420px) {
    .header__navbar-link {
        margin-right: 30px;
        font-size: 14px;
    }

    .header__get-btn {
        padding: 18px 25px;
        font-size: 14px;
    }

    .hero__image {
        margin-top: 140px;
        height: 401px;
        width: 531px;
    }

    .hero__content {
        padding-left: 55px;
        height: 541px;
     
    }

    .hero__title {
        font-size: 56px;
        line-height: 100%;
        margin-top: 129px;
    }

    .hero__discription {
        margin: 0;
        font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 20px;
        color: var(--color-white);
    }

    .header__logo {
        width: 156px;
        height: 35px;
    }
}

@media (max-width: 1062px) {
    .header__navbar-link {
        margin-right: 20px;
        font-size: 12px;
    }

    .header__get-btn {
        padding: 18px 20px;
        font-size: 12px;
    }

    .hero__image {
        margin-top: 148px;
        height: 301px;
        width: 351px;
    }

    .hero__content {
        padding-left: 45px;
        height: 450px;
    }

    .hero__title {
        font-size: 56px;
        line-height: 100%;
        margin-top: 80px;
    }

    .hero__discription {
        margin: 0;
        font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 20px;
        color: var(--color-white);
    }

    .header__logo {
        width: 156px;
        height: 35px;
    }
}

@media (max-width: 1062px) {
    .container {
        padding: 0 40px;
    }

    .header__content {
        padding: 20px 30px;
    }

    .header__navbar-link {
        margin-right: 20px;
        font-size: 12px;

    }

    .header__get-btn {
        padding: 18px 40px;
        font-size: 16px;
        line-height: 100%;
    }

    .hero__image {
        margin-top: 148px;
        height: 301px;
        width: 351px;
    }

    .hero__content {

        padding-left: 45px;
        height: 450px;

    }

    .hero__title {
        font-size: 36px;
        line-height: 100%;
        margin-top: 80px;
    }

    .hero__discription {
        margin: 0;
        font-family: "TTFirsNeue Regular", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 20px;
        color: var(--color-white);
    }

    .header__logo {
        width: 156px;
        height: 35px;
    }


    .header__navbar-item {
        display: none;
    }

    .header__burger {
        display: block;

    }

    .header__burger span {
        display: block;
    }

    .header__burger {
        cursor: pointer;
        padding: 0;
        outline: none;
        background-color: transparent;
        border: none;
        margin: 0;
        margin-left: 45px;
    }


    .modal {
        width: 300px;
    }

    .modal__slogan {
        margin: 0;
        font-family: "TTFirsNeue Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 40px;
        color: var(--color1);
        margin-bottom: 30px;
    }

    .contact-form__input {
        margin-bottom: 30px;
        width: 200px;
        padding: 15px 30px;
        background: #F4F4F4;
        border-radius: 30px;
    }
}

@media (max-width: 736px) {
    .hero__content {
        padding-left: 20px;
    }

    .header__get-block {
        margin-left: 10px;
    }

    .header__get-btn {
        display: inline;
        padding: 15px 15px;
        font-size: 10px;
        line-height: 100%;
    }

    .hero__image {
        display: none;
    }

    .header__logo {
        width: 110px;
        height: 30px;
    }

    .hero__get-btn {
        padding: 18px 25px;
    }

    .hero__content {
        background-image: url(../assets/Banner_pic-min.png);
        background-size: cover;
        object-fit: cover;
        background-color: #e7788b;
    }

    .hero__title {
        color: var(--color1);
    }

    .hero__discription {
        font-size: 20px;
        color: var(--color1);
    }

    .header__burger {
        margin-left: 20px;
    }

    .hero__scroll-down {
        width: 75px;
        height: 75px;
    }

    .hero__scroll-link {
        top: 92%;
        left: 95px;
    }
}

@media (max-width: 400px) {
    .hero__title {
        font-size: 30px;
        line-height: 100%;
        margin-top: 100px;
    }

    .hero__discription {
        font-size: 15px;
        color: var(--color1);
    }

    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 0;
    }

    .header__get-btn {
        display: inline;
        padding: 15px 30px;
        font-size: 10px;
        line-height: 100%;
    }

    .header__menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    .header__content {
        padding: 20px 10px;
    }

    .header__logo {

        margin-bottom: 10px;
    }

    .modal {
        width: 200px;
        padding: 80px 44px;
    }

    .modal__slogan {
        margin: 0;
        font-family: "TTFirsNeue Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 40px;
        color: var(--color1);
        margin-bottom: 20px;
    }

    .contact-form__input {
        margin-bottom: 30px;
        width: 150px;
        padding: 10px 20px;
        background: #F4F4F4;
        border-radius: 30px;
    }
}